/Snake/obj/Debug/.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
/Snake/Properties/AssemblyInfo.cs
/.idea/.idea.Snake/.idea/encodings.xml
/Snake/Snake.csproj
/Snake/obj/Debug/Snake.csproj.AssemblyReference.cache
/Snake/bin/Debug/Snake.exe
/Snake/obj/Debug/Snake.csproj.SuggestedBindingRedirects.cache
/Snake/obj/Debug/Snake.exe
/Snake/bin/Debug/Snake.pdb
/Snake/obj/Debug/Snake.pdb
/Snake.sln
/.idea/.idea.Snake/.idea/vcs.xml
/Snake/obj/Debug/Snake.csproj.FileListAbsolute.txt
/Snake/obj/Debug/Snake.csproj.CoreCompileInputs.cache
/.idea/.idea.Snake/.idea/indexLayout.xml
/.idea/.idea.Snake/.idea/.gitignore
